# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
dist/
.mypy_cache/
.ruff_cache/
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# Node / frontend
node_modules/
dist/
.vite/

# Environment
.env
.env.local
*.env.local

# IDE
.idea/
.vscode/
*.swp

# Podman / Container
.podman/

# K8s generated
*.kubeconfig
